body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container1 {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    background-color: #046e54;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #046e54;
}



input[type="text"]:hover,
input[type="email"]:hover,
input[type="tel"]:hover,
textarea:hover {
    border-color: #046e54;
}


button:hover {
    background-color:  #046e54;
    transition: background-color 0.3s ease;
}


.cards{
    display: inline-block;
}
main {
    margin-top: 20px;
}

.about-section {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about-section h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}

.about-section h3 {
    color: #333;
    font-size: 20px;
    margin-top: 20px;
}

.about-section p {
    color: #555;
    font-size: 16px;
    line-height: 1.8;
}

.about-section ul {
    margin-top: 10px;
    margin-left: 20px;
    color: #555;
    font-size: 16px;
    line-height: 1.8;
}

.about-section ul li {
    margin-bottom: 10px;
}

/* Footer styles */
footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px 0;
    background-color: #333;
    color: #fff;
    font-size: 14px;
}


/* Basic styling for the card container */
.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
  }
  
  /* Styling for each individual card */
  .card {
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    padding: 20px;
  }
  
  .card h2 {
    margin-top: 0;
  }
  
  .card p {
    margin-bottom: 10px;
  }
  
  .card img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
  }
  

  /* Basic styling for the card container */
.container2 {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
  }
  
  /* Styling for each individual card */
  .card9 {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .card img {
    max-width: 100%;
    height: auto;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  
  .card h2 {
    margin-top: 0;
  }
  
  .card p {
    margin-bottom: 0;
    color: #666;
  }
  